@import "../../pages/mainFile/main.scss";
.login {
    padding: 0 !important;
    background-color: $secManColor;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    .image_box {
    background-image: url("../../../../../media/loginPage/04_the-world_article_01-550x360.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    }
    .box {
        background-color: #fff;
        min-height: 100vh;
        display: flex;
        align-items: center;
        form {
            flex-direction: column;
            display: flex;
            gap: 1rem;
            padding: 0 1rem;
            div {
                    width: 100%;
                    position: relative;
                input {
                    border: none;
                    position: relative;
                    outline: none;
                    width: 100%;
                    background: none;
                    border: solid 1px #ddd;
                    border-radius: 3px;
                    padding: 0.7rem 1rem;
                    margin: 2rem 0;
                    display: block;
                    transition: $mainTranstion;
                    &:focus {
                        scale: 1.03 1;
                    }
                }
            }
            label {
                position: absolute;
                top: -10%;
                left: 0;
                text-transform: uppercase;
                font-size: 1.2rem;
                color: $secManColor;
                font-weight: bold;
            }
            .errorlist {
                background-color: green;
                padding: 12px 15px;
                list-style: none;
                margin: 2rem 0;
                color: #fff;
                font: {
                    size: 1.2rem;
                    weight: bold;
                }
            }
        }
        }
  }
}
