@import "../../pages/mainFile/main.scss";
.logout {
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h1 {
            font-size: 2.2rem;
            }
            div {
                font-size: 1.5rem;
                a {
                    font-size: 1.5rem;
                    color: $secManColor;
                    text-decoration: none;
                }
            }
        }
    }
